<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="text" style=" text-align:center;">This is the website for the algebraic geometry seminar at Stony Brook university. The main organizers and speakers of the seminar is Zhengze Xin and Xuande Liu. If you want to give a talk in the seminar please contact Zhengze.Xin at stonybrook.edu or xuande.liu at stonybrook.edu. The seminar is aimed at communication of all kinds of topics in algebraic geometry. 
			Recently we are interested in the intersection theory. </div>
		
		
		<table border="0.5" style=" text-align:center;">
   		<tr>
   		   <td>row 1, cell 1</td>
     		   <td>row 1, cell 2</td>
		</tr>
    		<tr>
        	   <td>row 2, cell 1</td>
                   <td>row 2, cell 2</td>
                </tr>
		</table>
		
<!-- 		<div class="container">
			{{ content }}
		</div> -->
	</main>
	{%- include footer.html -%}
</body>
</html>
