<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<br/>
		<br/>
		<div class="text" padding=30px><p align="center">This is the website for the algebraic geometry seminar at Stony Brook university.</p> 
			<p align="center">The main organizers and speakers of the seminar is Zhengze Xin and Xuande Liu.</p> 
			<p align="center">If you want to give a talk in the seminar please contact Zhengze.Xin at stonybrook.edu or xuande.liu at stonybrook.edu.</p> 
			<p align="center">Recently we are interested in the intersection theory.</p> </div>
		
		<br/>
		<br/>
		
		<table align="center" border="1" >
   		<tr>
   		   <td>Time</td>
     		   <td>Speaker</td>
		   <td>Contents</td>
		</tr>
    		<tr>
        	   <td>9/25/2021</td>
                   <td>Xuande Liu</td>
		   <td>Intersection Theory</td>
                </tr>
		<tr>
        	   <td>10/2/2021</td>
                   <td></td>
		   <td></td>
                </tr>
		<tr>
        	   <td>10/9/2021</td>
                   <td></td>
		   <td></td>
                </tr>
		</table>
		
		
<!-- 		<div class="container">
			{{ content }}
		</div> -->
	</main>
	{%- include footer.html -%}
</body>
</html>
